.container-crew{
    height: 100svh;
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
    
}
.content-crew{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.crew-info{
    width: 770px;
    height: 72svh;
    position: relative;
}
.choose-crew{
    width: 770px;
    height: 85svh;
    /* background-color: blue; */
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
}

.choose-crew img{
    position: absolute;
    left: 10%;
    bottom: 0;  
}

.title-page .meet-your-creew{
    font-size: 28px;
    letter-spacing: 4.75px;
}
.title-page  .meet-your-creew span{
  color: #8e8e8e;
  font-weight: bold;
}
.dots-choose-crew{
    width: 20px;
    height: 20px;
    background: #979797;
    border-radius: 100%;
    transition: .2s ease-in-out all;
}
.dots-choose-crew:not(:first-child){
    margin-left: 15px;

}
.dots-choose-crew:hover{
    cursor: pointer;
    background-color: #777777;
}
.crew-name{
    display: flex;
    width: 444px;
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
}
.crew-name .crew{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 60px; 
    font-size: 16px;
    color: var(--brightpurple);
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}
/* .crew-name .crew::after{
    content: "";
    background: #a2a2a2;
    height: 3px;
    width: 0%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transition: .2s ease-in-out all;

} */
/* .crew-name:hover::after{
    width: 100%;
} */
.planetMain{
    font-size: 100px;
    font-family: 'Bellefair', serif;
    margin-bottom: 40px;
}

.crew-name .dots-choose-crew.active {
    background: #fff;
}

.person-info p:first-child{
    font-size: 32px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: #8e8e8e;
    padding-top: 15svh;
    margin-bottom: 15px;
}

.person-info p:nth-child(2){
    font-size: 56px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.person-info p:nth-child(3){
    font-size: 18px;
    width: 444px;
    font-family: 'Barlow', sans-serif;
    color: var(--brightpurple);
    line-height: 30px;
}

.meet-your-for-mobile{
    display: none;
}

/*=================MEDIA QUERIES===============*/

@media only screen and (width<=450px) {
    .container-crew{
        background-image: url(../assets/crew/background-crew-mobile.jpg);
    }
    .content-crew{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .crew-info{
        width: 100%;
        height: 40svh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .choose-crew{
        width: 100%;
        height: 45svh;
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: relative;
    }
    .person{
        display: flex;
        justify-content: center;
        margin: 0 30px 0 30px;
        border-bottom: 1px solid #383B4B;
        
    } 
    .choose-crew img{
        position: unset;
        width: 50%;
    }
    .meet-your-creew{
        display: none;
        
    }
    .meet-your-for-mobile{
        display: block;
        /* color: #8e8e8e; */
        color: #fff;
        font-weight: bold;
        letter-spacing: 4.75px;
        /* padding-bottom: 30px; */
        position: absolute;
        top: 5px;

    }
    .meet-your-for-mobile span{
       color: #8e8e8e;
    }

    .dots-choose-crew{
        width: 10px;
        height: 10px;
      
    }
    .crew-name{
        width: 100%;
        margin-bottom: 0px;
        position: unset;
        display: flex;
        justify-content: center;

    }
    .person-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .person-info p:first-child{
        font-size: 16px;
        padding-top: 5svh;
        margin-bottom: 15px;
    }
    
    .person-info p:nth-child(2){
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .person-info p:nth-child(3){
        font-size: 15px;
        text-align: center;
        width: 75%;
        line-height: 25px;
    }
    
}