@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
.destination-content{
    height: 100svh;
    background-image: url(../assets//destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
}
.space-object, .choose-object{
    width: 770px;
    height: 500px;
    /* background-color: red; */
}
.space-object {
    /* background-color: red; */
    position: relative;
}
.space-object p{
    font-size: 28px;
    letter-spacing: 4.75px;
    position: absolute;
    top: -120px;
}
.space-object p span{
  color: #8e8e8e;
  font-weight: 700;
}
.space-object img{
    margin-left: 50px;

}
.content{
    display: flex;
    justify-content: center;
}
.choose-object{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}
.planets-name{
    display: flex;
    width: 444px;
    margin-bottom: 40px;
}
.planets-name .planet{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 60px; 
    font-size: 16px;
    color: var(--brightpurple);
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}
.planets-name .planet::after{
    content: "";
    background: #a2a2a2;
    height: 3px;
    width: 0%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transition: .2s ease-in-out all;

}
.planet:hover::after{
    width: 100%;
}
.planetMain{
    font-size: 100px;
    font-family: 'Bellefair', serif;
    margin-bottom: 40px;
}

.planets-name .planet.active::after {
    width: 100%;
    background: #fff;
}

.planets-chosen p:first-child{
    font-size: 100px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}

.planets-chosen p:nth-child(2){
    width: 444px;
    text-align: justify;
    font-size: 18px;
    position: relative;
    color: var(--brightpurple);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.planets-chosen p:nth-child(2)::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #383B4B;
    position: absolute;
    bottom: 0;
}

.distance-travel{
    display: grid;
    grid-template-columns: 200px 200px;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: space-between;
    width: 400px;
}

.distance-travel span:nth-child(3),span:nth-child(4){
    font-size: 28px;
    font-family: 'Bellefair', serif;
    padding-top: 12px;
}


/*=================MEDIA QUERIES===============*/

@media only screen and (width<=450px) {
    .destination-content{
        background-image: url(../assets//destination/background-destination-mobile.jpg);
        display: flex;
        flex-direction: column;
    }
    .space-object, .choose-object{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }
    .space-object{
        height: 35svh;
    }
    .choose-object{
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: flex-start;
    }
    .space-object p{
        font-size: 16px;
        letter-spacing: 4.75px;
        position: absolute;
        top: 0;
    }
    .display-planet{
        display: flex;
        justify-content: center;
    }
    .planets-name{
        width: 100%; 
    }
    .space-object img{
        margin-left: 0px;
        width: 40%;
    }
    .planets-name{
        display: flex;
        justify-content: space-evenly;
        width: 100svw;
        /* background-color: red; */
        margin-bottom: 0px;
        padding-right: 0px;
    }
    .planets-name .planet{
        margin-right: 0px; 
    }
    .planets-chosen{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .selected-planet-info{
        width: 100%;
    }
    .planets-chosen p:nth-child(2)::before{
        width: 80%;
        position: absolute;
        left: 10%;
    }
    .planets-chosen p:nth-child(2){
        width: 100%;
        text-align: center;
        font-size: 15px;
        position: relative;
        color: var(--brightpurple);
        font-family: 'Barlow', sans-serif;
        line-height: 30px;
        padding-bottom: 20px;
        margin-top: 0px;
    }
    .planets-chosen p:first-child{
        font-size: 56px;
        text-align: center;
        margin-top: 20px;
    }
    .distance-travel{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }
    .distance-travel span:nth-child(2),span:nth-child(4){
        font-size: 24px;
        font-family: 'Bellefair', serif;
        padding-top: 12px;
    }
    .distance-travel span:nth-child(1){
        color: var(--brightpurple);
    }
    .distance-travel span:nth-child(3){
        font-size: 16px;
        color: var(--brightpurple);
        font-family: 'Barlow Condensed', sans-serif;
    }
}

@media only screen and (width<=380px) {
    .space-object img{
        margin-top: 10px;
        margin-left: 0px;
        width: 25%;
    }
}